{% extends "base.html" %}
{% block content %}
  <h1>Welcome to the 2021 Husker Bet!</h1>
 	<div class="container">
 		<div class="picture">
 			<img class="pics" src="../static/images/HuskerN.png" alt="Husker Logo">  
 		</div>
	  <table>
	  	<div class="tableHeader">Leaderboard</div>
	  	<thead>
	  	  <tr>
	  	    <th>Player</th>
	  	    <th>Picks</th>
	  	    <th>Spread</th>
	  	    <th>Total</th>
	  	  </tr>
	  	</thead>
	  	<tbody>
	  		<tr>
	  	    <td>Chris</td>
	  	    <td>5</td>
	  	    <td>3</td>
	  	    <td>8</td>
	  	  </tr>
	  		<tr>
	  	    <td>Bigelow</td>
	  	    <td>4</td>
	  	    <td>4</td>
	  	    <td>8</td>
	  	  </tr>
	  	  <tr>
	  	    <td>JT</td>
	  	    <td>4</td>
	  	    <td>1</td>
	  	    <td>5</td>
	  	  </tr>	  		
	  	  <tr>
	  	    <td>Bill</td>
	  	    <td>5</td>
	  	    <td>0</td>
	  	    <td>5</td>
	  	  </tr>   
	  	</tbody>
	  </table>
	</div>

{% endblock %}