{% extends "base.html" %}
{% block content %}
  <h2>Rules for the Husker Bet</h2>
  <div class="container">
    <table class="rules">
      <tbody>
      <tr>
        <td>#1 - If anyone has anything negative to say about design... they can shove it. Or they can do it themselves.</td>
      </tr>
      <tr>
        <td>#2 - The Wednesday before the game, the spread will be locked in according to <a href="https://www.barstoolsportsbook.com/sports/american_football/ncaaf">Barstool</a></td>
      </tr>
      <tr>
        <td>#3 - After the spread has been locked, each player will choose whether Nebraska will COVER or NOT COVER</td>
      </tr>
      <tr>
        <td>#4 - One point will be earned for picking the correct outcome, a second point will be earned for picking the spread correctly</td>
      </tr>
      <tr>
        <td>#5 - The most points win</td>
      </tr>
      <tr>
        <td>#6 - First Tiebreaker is number of spreads chosen correctly</td>
      </tr>
      <tr>
        <td>#7 - Second Tiebreaker is closest prediction to the number of total points for Nebraska</td>
      </tr>
    </table>
  </div>
{% endblock %}