{% extends "base.html" %}
{% block content %}
<div class="container">
  <table>
    <div class="tableHeader">Predictions</div>
    <thead>
      <tr>
        <th>Date</th>
        <th>Opponent</th>
        <th>Bill</th>
        <th>Biggie</th>
        <th>JT</th>
        <th>Chris</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Predicted</td>
        <td>Points For</td>
        <td>312</td>
        <td></td>
        <td>350</td>
        <td></td>
      </tr>
      <tr>
        <td>08/28/21</td>
        <td>Illinois</td>
        <td>W</td>
        <td></td>
        <td>W</td>
        <td></td>
      </tr>
      <tr>
        <td>09/04/21<br></td>
        <td>Fordham</td>
        <td>W</td>
        <td></td>
        <td>W</td>
        <td></td>
      </tr>
      <tr>
        <td>09/11/21</td>
        <td>Buffalo</td>
        <td>W</td>
        <td></td>
        <td>W</td>
        <td></td>
      </tr>
      <tr>
        <td>09/18/21</td>
        <td>Oklahoma</td>
        <td>L</td>
        <td></td>
        <td>L</td>
        <td></td>
      </tr>
      <tr>
        <td>09/25/21</td>
        <td>Michigan State</td>
        <td>W</td>
        <td></td>
        <td>W</td>
        <td></td>
      </tr>
      <tr>
        <td>10/02/21</td>
        <td>Northwestern</td>
        <td>W</td>
        <td></td>
        <td>W</td>
        <td></td>
      </tr>
      <tr>
        <td>10/09/21</td>
        <td>Michigan</td>
        <td>L</td>
        <td></td>
        <td>W</td>
        <td></td>
      </tr>
      <tr>
        <td>10/16/21</td>
        <td>Minnesota</td>
        <td>L</td>
        <td></td>
        <td>L</td>
        <td></td>
      </tr>
      <tr>
        <td>10/30/21</td>
        <td>Purdue</td>
        <td>W</td>
        <td></td>
        <td>W</td>
        <td></td>
      </tr>
      <tr>
        <td>11/06/21</td>
        <td>Ohio State</td>
        <td>L</td>
        <td></td>
        <td>L</td>
        <td></td>
      </tr>
      <tr>
        <td>11/20/21</td>
        <td>Wisconsin</td>
        <td>L</td>
        <td></td>
        <td>L</td>
        <td></td>
      </tr>
      <tr>
        <td>11/26/21</td>
        <td>Iowa</td>
        <td>W</td>
        <td></td>
        <td>W</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}